@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");
:root {
  --secondary-font: "Montserrat", sans-serif;
  --primary-font: "Cinzel", serif;
  --active-color: #273a4e;
  --active: #5c6b7a;
  --overlay-color: rgba(39, 58, 78, 0.3);
  --black: #303131;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: var(--primary-font);
}

.acitve {
  color: var(--active);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: white;
  z-index: 10;
}

header nav {
  width: 90% !important;
}

header nav .container-fluid .collapse {
  justify-content: flex-end;
}

header nav .container-fluid .navbar-brand {
  font-size: 26px;
  font-weight: 400;
  color: var(--black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

header nav .container-fluid .collapse .navbar-nav {
  gap: 20px;
}

header nav .container-fluid .navbar-brand:hover,
header nav .container-fluid .collapse ul li a:hover {
  color: var(--active-color);
}

header nav .container-fluid .collapse ul li a {
  font-size: 16px;
  font-family: var(--secondary-font);
  font-weight: 400;
  text-transform: capitalize;
  color: var(--black);
}

main {
  width: 100%;
  margin-top: 65px;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

main section {
  width: 90%;
}

main .banner {
  height: 900px;
  background-image: url("https://static.wixstatic.com/media/f61af8_97a68d95c3584eee8952b7b3184f5f80~mv2_d_6924_3840_s_4_2.jpg/v1/fill/w_1665,h_900,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/f61af8_97a68d95c3584eee8952b7b3184f5f80~mv2_d_6924_3840_s_4_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

main .banner .overlay {
  background-color: var(--overlay-color);
  width: 100%;
  height: 100%;
  position: absolute;
}

main .banner .overlay div h1 {
  font-size: 70px;
  font-weight: 300;
  color: white;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 0px;
}

main .banner .overlay div h3 {
  font-size: 20px;
  font-family: var(--secondary-font);
  font-weight: 400;
  letter-spacing: 0.7em;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

main .banner .overlay div div button,
main .portfolio .bottom article .overlay button {
  width: 142px;
  height: 40px;
  border: 1px solid white;
  background-color: transparent;
  font-size: 16px;
  font-family: var(--secondary-font);
  font-weight: 400;
  color: white;
}

main .banner .overlay div div button:hover,
main .portfolio .bottom article .overlay button:hover {
  background-color: var(--active-color);
  border: 0px;
  transition: 0.5s;
}

footer {
  width: 100%;
}

footer section {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

footer section nav ul {
  padding: 0px;
  gap: 25px;
  list-style: none;
  margin-top: 20px;
}

footer section nav ul li a {
  font-size: 20px;
  color: var(--black);
}

footer section aside p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--secondary-font);
  word-break: break-all;
}

.chat {
  position: fixed;
  right: 2%;
  bottom: 25px;
  width: 64px;
  height: 64px;
  background-color: rgb(176, 135, 156);
}

.chat i {
  font-size: 30px;
  color: white;
}

main .portfolio {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

main .portfolio .header-text {
  font-size: 40px;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

main .portfolio .bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}

main .portfolio .bottom article {
  width: 100%;
  height: 869px;
  background-image: url("https://static.wixstatic.com/media/f61af8_2ef1fc57fdd849a19df076e8fb6e036f~mv2_d_2681_2546_s_4_2.jpg/v1/fill/w_557,h_869,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/f61af8_2ef1fc57fdd849a19df076e8fb6e036f~mv2_d_2681_2546_s_4_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

main .portfolio .bottom article .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--overlay-color);
}

main .portfolio .bottom article .overlay h3 {
  margin-top: 80px;
  margin-bottom: 20px;
  color: white;
}

main .portfolio .bottom .middle {
  background-image: url("https://static.wixstatic.com/media/f61af8_0865ef003a1740f9b703014d3b57e3fa~mv2_d_4928_3264_s_4_2.jpg/v1/fill/w_542,h_869,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/f61af8_0865ef003a1740f9b703014d3b57e3fa~mv2_d_4928_3264_s_4_2.jpg");
}

main .portfolio .bottom .right {
  background-image: url("https://static.wixstatic.com/media/f61af8_0ecca2bc73f444c98e8de071bb2ce81c~mv2_d_1927_1272_s_2.jpg/v1/fill/w_544,h_869,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/f61af8_0ecca2bc73f444c98e8de071bb2ce81c~mv2_d_1927_1272_s_2.jpg");
}
.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
}
.about .right {
    width: 100%;
    background-color: rgb(236, 238, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about .right h1 {
    font-weight: 300;
    margin-bottom: 30px;
}
.about .right article {
    width: 50%;
}
.about .right h2 {
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 400;
    margin-top: 50px;
}
.about .right p {
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}
